@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-red-50: hsl(0 85.7% 97.3%);
  --color-red-100: hsl(0 93.3% 94.1%);
  --color-red-200: hsl(0 96.3% 89.4%);
  --color-red-300: hsl(0 93.5% 81.8%);
  --color-red-400: hsl(0 90.6% 70.8%);
  --color-red-500: hsl(0 84.2% 60.2%);
  --color-red-600: hsl(0 72.2% 50.6%);
  --color-red-700: hsl(0 73.7% 41.8%);
  --color-red-800: hsl(0 70% 35.3%);
  --color-red-900: hsl(0 62.8% 30.6%);
  --color-red-950: hsl(0 60% 19.6%);
  --color-orange-50: hsl(33 100% 96.5%);
  --color-orange-100: hsl(34 100% 91.8%);
  --color-orange-200: hsl(32 97.7% 83.1%);
  --color-orange-300: hsl(31 97.2% 72.4%);
  --color-orange-400: hsl(27 96% 61%);
  --color-orange-500: hsl(25 95% 53.1%);
  --color-orange-600: hsl(21 90.2% 48.2%);
  --color-orange-700: hsl(17 88.3% 40.4%);
  --color-orange-800: hsl(15 79.2% 33.7%);
  --color-orange-900: hsl(15 74.6% 27.8%);
  --color-orange-950: hsl(13 81% 14.5%);
  --color-amber-50: hsl(48 96.5% 88.8%);
  --color-amber-100: hsl(48 96.6% 76.7%);
  --color-amber-200: hsl(48 96.9% 66.7%);
  --color-amber-300: hsl(46 96.7% 64.5%);
  --color-amber-400: hsl(43 96.4% 56.3%);
  --color-amber-500: hsl(38 92.1% 50.2%);
  --color-amber-600: hsl(32 94.6% 43.7%);
  --color-amber-700: hsl(26 90.5% 37.1%);
  --color-amber-800: hsl(23 83.4% 31.8%);
  --color-amber-900: hsl(22 78.3% 26.7%);
  --color-amber-950: hsl(21 91.7% 14.1%);
  --color-yellow-50: hsl(55 91.7% 95.3%);
  --color-yellow-100: hsl(55 96.7% 88%);
  --color-yellow-200: hsl(53 98.3% 76.9%);
  --color-yellow-300: hsl(50 97.8% 63.5%);
  --color-yellow-400: hsl(48 95.8% 53.1%);
  --color-yellow-500: hsl(45 93.4% 47.5%);
  --color-yellow-600: hsl(41 96.1% 40.4%);
  --color-yellow-700: hsl(35 91.7% 32.9%);
  --color-yellow-800: hsl(32 81% 28.8%);
  --color-yellow-900: hsl(28 72.5% 25.7%);
  --color-yellow-950: hsl(26 83.3% 14.1%);
  --color-lime-50: hsl(79 89.1% 96.1%);
  --color-lime-100: hsl(80 88.5% 89.6%);
  --color-lime-200: hsl(81 88% 80.5%);
  --color-lime-300: hsl(82 84.5% 67.1%);
  --color-lime-400: hsl(83 80.5% 55.9%);
  --color-lime-500: hsl(84 85.2% 46.5%);
  --color-lime-600: hsl(85 84.8% 38.2%);
  --color-lime-700: hsl(86 78% 29.6%);
  --color-lime-800: hsl(86 68.7% 23.9%);
  --color-lime-900: hsl(88 61.2% 20.2%);
  --color-lime-950: hsl(89 80.4% 10%);
  --color-green-50: hsl(138 76.5% 96.7%);
  --color-green-100: hsl(141 84.2% 92.5%);
  --color-green-200: hsl(141 78.9% 85.1%);
  --color-green-300: hsl(142 76.6% 73.1%);
  --color-green-400: hsl(142 69.2% 58%);
  --color-green-500: hsl(142 70.6% 45.3%);
  --color-green-600: hsl(142 76.2% 36.3%);
  --color-green-700: hsl(142 71.8% 29.2%);
  --color-green-800: hsl(143 64.2% 24.1%);
  --color-green-900: hsl(144 61.2% 20.2%);
  --color-green-950: hsl(145 80% 10.6%);
  --color-emerald-50: hsl(152 81% 95.9%);
  --color-emerald-100: hsl(149 80.4% 90%);
  --color-emerald-200: hsl(152 76% 80.4%);
  --color-emerald-300: hsl(156 71.6% 66.9%);
  --color-emerald-400: hsl(158 64.4% 51.6%);
  --color-emerald-500: hsl(160 84.1% 39.4%);
  --color-emerald-600: hsl(161 93.5% 30.4%);
  --color-emerald-700: hsl(163 93.5% 24.3%);
  --color-emerald-800: hsl(163 88.1% 19.6%);
  --color-emerald-900: hsl(164 85.7% 16.5%);
  --color-emerald-950: hsl(166 91.1% 9%);
  --color-teal-50: hsl(166 76.5% 96.7%);
  --color-teal-100: hsl(167 85.5% 89.2%);
  --color-teal-200: hsl(169 83.9% 78%);
  --color-teal-300: hsl(171 76.9% 64.3%);
  --color-teal-400: hsl(172 66% 50.2%);
  --color-teal-500: hsl(173 80.4% 40%);
  --color-teal-600: hsl(175 83.9% 31.6%);
  --color-teal-700: hsl(175 77.4% 26.1%);
  --color-teal-800: hsl(176 69.4% 21.8%);
  --color-teal-900: hsl(176 60.8% 19%);
  --color-teal-950: hsl(179 84.2% 10.2%);
  --color-cyan-50: hsl(183 100% 96.3%);
  --color-cyan-100: hsl(185 95.9% 90.4%);
  --color-cyan-200: hsl(186 93.5% 81.8%);
  --color-cyan-300: hsl(187 92.4% 69%);
  --color-cyan-400: hsl(188 85.7% 53.3%);
  --color-cyan-500: hsl(189 94.5% 42.7%);
  --color-cyan-600: hsl(192 91.4% 36.5%);
  --color-cyan-700: hsl(193 82.3% 31%);
  --color-cyan-800: hsl(194 69.6% 27.1%);
  --color-cyan-900: hsl(196 63.6% 23.7%);
  --color-cyan-950: hsl(197 78.8% 16.1%);
  --color-sky-50: hsl(204 100% 97.1%);
  --color-sky-100: hsl(204 93.8% 93.7%);
  --color-sky-200: hsl(201 94.4% 86.1%);
  --color-sky-300: hsl(199 95.5% 73.9%);
  --color-sky-400: hsl(198 93.2% 59.6%);
  --color-sky-500: hsl(199 88.7% 48.4%);
  --color-sky-600: hsl(200 98% 39.4%);
  --color-sky-700: hsl(201 96.3% 32.2%);
  --color-sky-800: hsl(201 90% 27.5%);
  --color-sky-900: hsl(202 80.3% 23.9%);
  --color-sky-950: hsl(204 80% 16.1%);
  --color-blue-50: hsl(214 100% 96.9%);
  --color-blue-100: hsl(214 94.6% 92.7%);
  --color-blue-200: hsl(213 96.9% 87.3%);
  --color-blue-300: hsl(212 96.4% 78.4%);
  --color-blue-400: hsl(213 93.9% 67.8%);
  --color-blue-500: hsl(217 91.2% 59.8%);
  --color-blue-600: hsl(221 83.2% 53.3%);
  --color-blue-700: hsl(224 76.3% 48%);
  --color-blue-800: hsl(226 71.4% 40.8%);
  --color-blue-900: hsl(224 64% 32.9%);
  --color-blue-950: hsl(226 55.3% 18%);
  --color-indigo-50: hsl(226 100% 96.7%);
  --color-indigo-100: hsl(226 100% 93.9%);
  --color-indigo-200: hsl(228 96.5% 88.8%);
  --color-indigo-300: hsl(230 94.1% 82.4%);
  --color-indigo-400: hsl(234 89.5% 73.9%);
  --color-indigo-500: hsl(239 84.1% 67.1%);
  --color-indigo-600: hsl(243 75.4% 58.6%);
  --color-indigo-700: hsl(245 57.9% 50.6%);
  --color-indigo-800: hsl(244 54.9% 41.4%);
  --color-indigo-900: hsl(242 47.4% 34.3%);
  --color-indigo-950: hsl(244 47.1% 20%);
  --color-violet-50: hsl(250 100% 97.6%);
  --color-violet-100: hsl(251 91.3% 95.5%);
  --color-violet-200: hsl(251 95.3% 91.8%);
  --color-violet-300: hsl(252 94.7% 85.1%);
  --color-violet-400: hsl(255 91.7% 76.3%);
  --color-violet-500: hsl(258 89.5% 66.3%);
  --color-violet-600: hsl(262 83.3% 57.8%);
  --color-violet-700: hsl(263 69.8% 50.4%);
  --color-violet-800: hsl(263 69.3% 42.2%);
  --color-violet-900: hsl(264 67.4% 35.3%);
  --color-violet-950: hsl(261 72.8% 22.9%);
  --color-purple-50: hsl(270 100% 98%);
  --color-purple-100: hsl(269 100% 95.5%);
  --color-purple-200: hsl(269 100% 91.8%);
  --color-purple-300: hsl(269 97.4% 85.1%);
  --color-purple-400: hsl(270 95.2% 75.3%);
  --color-purple-500: hsl(271 91% 65.1%);
  --color-purple-600: hsl(271 81.3% 55.9%);
  --color-purple-700: hsl(272 71.7% 47.1%);
  --color-purple-800: hsl(273 67.2% 39.4%);
  --color-purple-900: hsl(274 65.6% 32.2%);
  --color-purple-950: hsl(274 87.5% 19.6%);
  --color-fuchsia-50: hsl(289 100% 97.8%);
  --color-fuchsia-100: hsl(287 100% 95.5%);
  --color-fuchsia-200: hsl(288 95.8% 90.6%);
  --color-fuchsia-300: hsl(291 93.1% 82.9%);
  --color-fuchsia-400: hsl(292 91.4% 72.5%);
  --color-fuchsia-500: hsl(292 84.1% 60.6%);
  --color-fuchsia-600: hsl(293 69.5% 48.8%);
  --color-fuchsia-700: hsl(295 72.4% 39.8%);
  --color-fuchsia-800: hsl(295 70.2% 32.9%);
  --color-fuchsia-900: hsl(297 64% 28%);
  --color-fuchsia-950: hsl(297 90.1% 14.5%);
  --color-pink-50: hsl(327 73.3% 97.1%);
  --color-pink-100: hsl(326 77.8% 94.7%);
  --color-pink-200: hsl(326 84.6% 89.8%);
  --color-pink-300: hsl(327 87.1% 81.8%);
  --color-pink-400: hsl(329 85.5% 70.2%);
  --color-pink-500: hsl(330 81.2% 60.4%);
  --color-pink-600: hsl(333 71.4% 50.6%);
  --color-pink-700: hsl(335 77.6% 42%);
  --color-pink-800: hsl(336 74.4% 35.3%);
  --color-pink-900: hsl(336 69% 30.4%);
  --color-pink-950: hsl(336 85.9% 16.7%);
  --color-rose-50: hsl(356 100% 97.3%);
  --color-rose-100: hsl(356 100% 94.7%);
  --color-rose-200: hsl(353 96.1% 90%);
  --color-rose-300: hsl(353 95.7% 81.8%);
  --color-rose-400: hsl(351 94.5% 71.4%);
  --color-rose-500: hsl(350 89.2% 60.2%);
  --color-rose-600: hsl(347 77.2% 49.8%);
  --color-rose-700: hsl(345 82.7% 40.8%);
  --color-rose-800: hsl(343 79.7% 34.7%);
  --color-rose-900: hsl(342 75.5% 30.4%);
  --color-rose-950: hsl(343 87.7% 15.9%);
  --color-slate-50: hsl(210 40% 98%);
  --color-slate-100: hsl(210 40% 96.1%);
  --color-slate-200: hsl(214 31.8% 91.4%);
  --color-slate-300: hsl(213 26.8% 83.9%);
  --color-slate-400: hsl(215 20.2% 65.1%);
  --color-slate-500: hsl(215 16.3% 46.9%);
  --color-slate-600: hsl(215 19.3% 34.5%);
  --color-slate-700: hsl(215 25% 26.7%);
  --color-slate-800: hsl(217 32.6% 17.5%);
  --color-slate-900: hsl(222 47.4% 11.2%);
  --color-slate-950: hsl(229 84% 5.1%);
  --color-gray-50: hsl(210 20% 98%);
  --color-gray-100: hsl(220 14.3% 95.9%);
  --color-gray-200: hsl(220 13% 91%);
  --color-gray-300: hsl(216 12.2% 83.9%);
  --color-gray-400: hsl(218 10.6% 64.9%);
  --color-gray-500: hsl(220 8.9% 46.1%);
  --color-gray-600: hsl(215 13.8% 34.1%);
  --color-gray-700: hsl(217 19.1% 26.7%);
  --color-gray-800: hsl(215 27.9% 16.9%);
  --color-gray-900: hsl(221 39.3% 11%);
  --color-gray-950: hsl(224 71.4% 4.1%);
  --color-zinc-50: hsl(0 0% 98%);
  --color-zinc-100: hsl(240 4.8% 95.9%);
  --color-zinc-200: hsl(240 5.9% 90%);
  --color-zinc-300: hsl(240 4.9% 83.9%);
  --color-zinc-400: hsl(240 5% 64.9%);
  --color-zinc-500: hsl(240 3.8% 46.1%);
  --color-zinc-600: hsl(240 5.2% 33.9%);
  --color-zinc-700: hsl(240 5.3% 26.1%);
  --color-zinc-800: hsl(240 3.7% 15.9%);
  --color-zinc-900: hsl(240 5.9% 10%);
  --color-zinc-950: hsl(240 10% 3.9%);
  --color-neutral-50: hsl(0 0% 98%);
  --color-neutral-100: hsl(0 0% 96.1%);
  --color-neutral-200: hsl(0 0% 89.8%);
  --color-neutral-300: hsl(0 0% 83.1%);
  --color-neutral-400: hsl(0 0% 63.9%);
  --color-neutral-500: hsl(0 0% 45.1%);
  --color-neutral-600: hsl(0 0% 32.2%);
  --color-neutral-700: hsl(0 0% 25.1%);
  --color-neutral-800: hsl(0 0% 14.9%);
  --color-neutral-900: hsl(0 0% 9%);
  --color-neutral-950: hsl(0 0% 3.9%);
  --color-stone-50: hsl(60 9.1% 97.8%);
  --color-stone-100: hsl(60 4.8% 95.9%);
  --color-stone-200: hsl(20 5.9% 90%);
  --color-stone-300: hsl(24 5.7% 82.9%);
  --color-stone-400: hsl(24 5.4% 63.9%);
  --color-stone-500: hsl(25 5.3% 44.7%);
  --color-stone-600: hsl(33 5.5% 32.4%);
  --color-stone-700: hsl(30 6.3% 25.1%);
  --color-stone-800: hsl(12 6.5% 15.1%);
  --color-stone-900: hsl(24 9.8% 10%);
  --color-stone-950: hsl(20 14.3% 4.1%);
}

@theme {
  /* --breakpoint-*: initial; */
  --breakpoint-sm: 480px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 1080px;
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-slide-in-left: slide-in-left 0.2s ease forwards;
  --animate-slide-in-right: slide-in-right 0.2s ease forwards;
  --animate-slide-in-top: slide-in-top 0.2s ease forwards;
  --animate-slide-out-bottom: slide-out-bottom 0.2s ease forwards;
  --animate-popup: popup 0.2s ease forwards;
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(10%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-top {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(10%);
  }
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-slate-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  outline-color: var(--color-primary);
}

:root {
  --font-main:
    "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Noto Sans JP", "meiryo", "arial", sans-serif;
}
